body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#game-container, canvas {
  display: block;
  width: 100%;
  height: 100%;
}

/* Tampilkan overlay warning jika potrait */
@media (orientation: portrait) {
  #rotate-warning {
    display: flex !important;
  }

  #game-container,
  #score,
  #timer,
  #checkpointText,
  #endUI,
  #mainMenu,
  #fireworks,
  #mobile-controls-left,
  #mobile-controls-right {
    display: none !important;
  }
}

/* Tampilkan mobile controls hanya saat mobile landscape */
@media (max-width: 768px) and (orientation: landscape) {
  #mobile-controls-left,
  #mobile-controls-right {
    display: flex !important;
  }
}